/* Réinitialisation */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* Par défaut 1rem = 16 pixels */
    scroll-behavior: smooth;
}

/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: #333;
    background: rgba(255, 255, 255, 0); /* Transparent pour laisser apparaître l’image */
    overflow-x: hidden; /* Empêche le scroll horizontal */
    height: 100%; /* Assure que le fond couvre toute la hauteur */
}

.background-image { /*c’est cassé. l’image est rendu grâce à un div style dans index.html*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/MG_7225-3.jpg') no-repeat center center;
    background-size: cover; /* Assure que l'image couvre tout l'écran */
    z-index: -1; /* Derrière tout le contenu */
}

header {
    position: relative;
    text-align: center;
    padding: 1.8rem;
    background: rgba(188, 255, 247, 0.106); /* Fond transparent */
    border-top: solid 0.1875rem black;
    border-bottom: solid 0.1875rem black;
    border-radius: 0.1875rem;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem; /* Espace sous l'en-tête pour ne pas chevaucher le content-wrapper */
    max-width: 45rem; /* Largeur maximale de la bande de texte. Par défaut 45rem = 16x45 = 720px */
    z-index: 2; /* Plus haut que le content-wrapper */
}

header h1 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: bold;
    color: #222;
}

header .subtitle {
    font-size: 1.05rem;
    font-weight: bold;
    color: #222;
    margin-top: 0.3125rem;
}

.language-switcher {
    position: absolute; /* Place le sélecteur indépendamment du flux normal */
    right: -4.5rem; /* Ajuste la distance depuis le bord droit */
    top: 6.1rem; /* Centre verticalement par rapport au conteneur */
}

.language-switcher a {
    margin: 0 0.3125rem;
    text-decoration: none;
    font-size: 1.125rem;
}

.language-switcher a:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(77, 172, 182, 0.63)
}

.site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Le conteneur prend au moins toute la hauteur de la fenêtre */
}

.bio-wrapper {
    position: relative;
    margin: 0 auto;
    margin-top: 0; /* Séparation nette entre le content-wrapper et l'entête */
    margin-bottom: 1rem;
    border-radius: 0.3125rem;
    max-width: 45rem; /* Largeur maximale de la bande de texte. Par défaut 45rem = 16x45 = 720px */
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
    z-index: 1;
    flex: 1; /* Étire le contenu pour remplir l'espace disponible */
}

main {
    padding: 1rem;
}

main h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    color: #222;
}

main h2 {
    text-align: left;
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #222;
}

main h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: #222;
}

main hr {
    border: none;
    border-top: 0.175rem solid rgba(96, 174, 178, 0.188);
    border-radius: 0.3175rem;
    margin: 0.8rem 0;
    z-index: 2;
}

main .introduction a {
    color: rgb(74, 124, 132);
    text-decoration: none;
}

main .introduction a:hover {
    text-decoration: underline;
}

main .about a {
    color: rgb(96, 174, 178);
    text-decoration: none;
}

main .about a:hover {
    text-decoration: underline;
}
.introduction {
    margin-bottom: 1rem;
    padding: 0.3125rem;
    font-size: 1.15rem;
    color: #333;
}

.about {
    margin-bottom: 0.625rem;
    font-size: 1rem;
    color: #333;
    line-height: 1.2rem;
    text-align: justify;
    text-align-last: left;
    
}

.services {
    margin-bottom: 0.625rem;
    padding: 0.3125rem;
    font-size: 1rem;
    color: #333;
    line-height: 1.2rem;
    text-align: justify;
    text-align-last: left;
    
}

.portfolio-header{
    position: relative;
    text-align: center;
    padding: 1.8rem;
    background: rgba(188, 255, 247, 0.106); /* Fond transparent */
    border-top: solid 0.1875rem black;
    border-bottom: solid 0.1875rem black;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.1875rem;
    max-width: 45rem; /* Largeur maximale de la bande de texte. Par défaut 45rem = 16x45 = 720px */
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0);
    z-index: 2; /* Plus haut que le content-wrapper */
}

.portfolio-header h1 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: bold;
    color: #222;
}

.portfolio-wrapper {
    position: relative;
    margin: 0 auto;
    margin-top: 0; /* Séparation nette entre le content-wrapper et l'entête */
    margin-bottom: 2rem;
    border-radius: 0.3125rem;
    max-width: 45rem; /* Largeur maximale de la bande de texte. Par défaut 45rem = 16x45 = 720px */
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
    z-index: 1;
    flex: 1; /* Étire le contenu pour remplir l'espace disponible */
}

.portfolio {
    margin-bottom: 0.625rem;
    padding: 0.3125rem;
    font-size: 1rem;
    color: #333;
    line-height: 1.3rem;
    text-align: justify;
}

.portfolio h1 {
    text-align: center;
    font-size: 1.75rem;
}

.portfolio h2 {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 4rem;
}

.portfolio h3 {
    margin: 0.625rem;
    padding: 0.3125rem;
    font-size: 1.15rem;
    font-weight: bold;
    line-height: 1.2rem;
}

.video-container {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    padding-bottom: 56.25%; /* Rapport 16:9 (hauteur / largeur) */
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 0.3175rem;
}

.image-texte-section {
    display: flex; /* Permet de placer les éléments côte à côte */
    align-items: center; /* Aligne verticalement l'image et le texte */
    gap: 1rem; /* Espace entre l'image et le texte */
    padding: 0.5rem;
    max-width: 45rem; /* Largeur maximale de la section */
    margin: 0 auto; /* Centre la section sur la page */
}

.image-container {
    flex: 1; /* L'image prend 1 part d'espace disponible */
}

.image-container img {
    max-width: 100%; /* L'image s'ajuste à la largeur de son conteneur */
    height: auto; /* Garde les proportions de l'image */
    border-radius: 0.3175rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.image-container img:hover {
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.4);
}

.text-container {
    display: flex; /* Active Flexbox pour centrer le contenu */
    flex-direction: column; /* Empile le texte verticalement */
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    text-align: center; /* Centre le texte dans son espace */
    text-align-last: center;
    flex: 1; /* Le texte prend 1 part d'espace disponible */
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.3;
}

.text-container h2 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.3rem;
    color: #222;
}

.custom-audio-player {
    max-width: 45rem;
    margin: 1.15rem auto;
}

audio {
    width: 100%;
    border-radius: 0.3125rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 0.625rem;
    font-size: 0.875rem;
}

/* === Responsivité (Media Queries) === */
@media (max-width: 768px) {
    html {
    font-size: 14px; /* Par défaut 1rem = 16 pixels */
    }
}

@media (max-width: 480px) {
    html {
    font-size: 10px; /* Par défaut 1rem = 16 pixels */
     }
}
